
*.o
firmware/A0_DUT.X/build/
firmware/mTCAM_DUT.X/dist/
notebooks/__pycache__/
*.pyc
*.json
firmware/mTCAM_DUT.X/nbproject/private/private.xml
firmware/mTCAM_DUT.X/nbproject/private/configurations.xml
firmware/mTCAM_DUT.X/nbproject/Makefile-genesis.properties
notebooks/.ipynb_checkpoints/demo_pwm-checkpoint.ipynb
firmware/mTCAM_DUT.X/nbproject/Makefile-genesis.properties
firmware/mTCAM_DUT.X/nbproject/private/configurations.xml
firmware/mTCAM_DUT.X/nbproject/private/private.xml
notebooks/__pycache__/drv_gpio.cpython-37.pyc
firmware/mTCAM_DUT.X/nbproject/Package-default.bash
.vscode/settings.json
firmware/mTCAM_DUT.X/nbproject/Makefile-default.mk
firmware/mTCAM_DUT.X/nbproject/Makefile-genesis.properties
firmware/mTCAM_DUT.X/nbproject/Makefile-impl.mk
firmware/mTCAM_DUT.X/nbproject/Makefile-local-default.mk
firmware/mTCAM_DUT.X/nbproject/Makefile-variables.mk
firmware/mTCAM_DUT.X/nbproject/configurations.xml
firmware/mTCAM_DUT.X/nbproject/private/configurations.xml
.vscode/settings.json
.vscode/settings.json
*.mat
*.pkl
*.pyc
*.pyc
*.npy
*.elf
*.hex
*.map
*.mk
*.zip
